body {
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
}

main {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
}

header,
footer {
    background-color: #02033b;
    padding: 30px;
}

h1 {
    background-color: #0077b6;
    color: white;
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 300px;
    margin: 40px auto;
}

h2 {
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
}

p {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 80%;
}

.paraBackground {
    background-color: #F5F5F5;
    margin: 60px auto;
    padding: 10px;
}

#colorSchemaDiv {
    display: flex;
    justify-content: center;
}

#green,
#brown {
    margin: 20px auto;
    width: 6rem;
    height: 6rem;
    padding: 20px;
    align-content: center;
    border: 1px solid black;
}

#blue {
    background-color: #02033b;
    color: white;
}

#bluelight {
    background-color: #0077b6;
    color: white;
}

#typographyHeading {
    font-family: "MedievalSharp", Arial, Helvetica, sans-serif;
}

.wireframes {
    margin: 3rem auto;
}

#largeWireframe {
    width: 40%;
    height: auto;
}

#smallWireframe {
    width: 15%;
    height: auto;
}