* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  --main-color: #0089e4;
  --second-color: #404145;
}

body {
  width: 100%;
  position: relative;
  background: #f1f1f1 !important;
}

body .container {
  max-width: 1100px;
}

#Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 80px;
  background-color: #121212;
  z-index: 1000;
}

.logo {
  height: 75%;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.main-menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.menu-item {
  margin: 0 1rem;
  font-weight: 600;
  color: #f2f2f2;
  text-decoration: none;
  padding-top: 13px;
  transition: color 0.5s;
  text-decoration: none;
}

.menu-item:hover {
  color: #04548a;
  transition: background-color 0.5s;
}


.cta {
  padding: 10px 24px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: #f2f2f2;
  margin: 0 1rem;
  font-weight: 600;
  margin-top: 13px;
  text-decoration: none;
  transition: background-color 0.5s;
}

.cta:hover {
  color: #f2f2f2;
  background-color: #04548a;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #f2f2f2;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .hamburger-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #121212;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 999;
    line-height: 2.5;
  }

  .hamburger-menu.active {
    display: flex;
  }

  .menu-item {
    width: 100%;
    text-align: center;
  }

  .cta {
    width: 100%;
    text-align: center;

  }
}

.about__icons img {
  width: 40px;
  transition: transform 0.5s ease-in-out;
}

.about__icons img:hover {
  transform: scale(1.2);
}

/* Additional CSS styles here */

.hero {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero__image-container {
  height: 100%;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero__image {
  width: 100%;
}

.hero__text-wrapper {
  position: absolute;
  bottom: 40%;
  left: 100px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f2f2f2;
}

.hero__button {
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 50px;
  color: #ffffff;
  background-color: var(--main-color);
  text-decoration: none;
  margin-top: 20px;
}

.hero__button:hover {
  background-color: black;
}

.hero__indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.hero__indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
}

.hero__indicator.active {
  background-color: #fff;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 35px;
    margin-left: -90px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .hero__button {
    font-size: 14px;
    padding: 15px 25px;
    border-radius: 30px;
    color: #ffffff;
    background-color: var(--main-color);
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: -50px;
  }

  .hero__indicators {
    display: none;
  }
}

/* About Section */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
}

@media (max-width: 768px) {
  .container.about {
    margin-top: -300px;
    /* Ajusta el margen para dispositivos móviles */
  }
}

.about {
  text-align: center;
}

.subtitle {
  color: #001A49;
  font-size: 2rem;
  margin-bottom: 25px;
}

.about__paragraph {
  line-height: 1.7;
}

.about__main {
  padding-top: 80px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons {
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 260px;
  overflow: hidden;
  margin: 0 auto;
  list-style-type: none;
}

.about__icon {
  width: 40px;
}

.about__title {
  font-size: 1.5rem;
  color: #001A49;
  margin-top: 1em;
  /* Alineación vertical */
  display: flex;
  align-items: center;
  /* Altura mínima para mantener el espacio uniforme */
  min-height: 40px;
  /* Ajusta según sea necesario */
}

.about__paragrah {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

/* Audience Section */

.content {
  background-image: url('../images/fondo.webp');
  /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
  background-attachment: fixed;
  /* Agregado */
}

.title {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.content p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 0 20px;
}

.workshops-title {
  margin-top: 100px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: -100px;
  font-size: 2.5rem;
}


/*filters*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Agrega el siguiente código para centrar horizontalmente los elementos */
  justify-content: center;
  min-height: 100vh;
  /* Ajusta la altura según tus necesidades */
}

#filter-buttons {
  margin-top: 30%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#filter-buttons button {
  border-radius: 3px;
  background: #fff;
  border-color: transparent;
}

#filter-buttons button:hover {
  background: #ddd;
}

#filter-buttons button.active {
  color: #fff;
  background: #6c757d;
}

#filterable-cards {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente las tarjetas */
  flex-wrap: wrap;
  /* Para que las tarjetas se envuelvan automáticamente si no caben en una sola línea */
}

#filterable-cards .card {
  width: 15rem;
  margin: 0.5rem;
  /* Ajusta el margen entre las tarjetas según sea necesario */
  border: 2px solid transparent;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

#filterable-cards .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#filterable-cards .card:hover {
  transform: scale(1.05);
  border-color: #0089e4;
}

#filterable-cards .card.hide {
  display: none;
}


@media (max-width: 600px) {
  #filterable-cards {
    justify-content: center;
  }

  #filterable-cards .card {
    width: calc(100% / 2 - 10px);
  }
}

.card-body {
  text-align: center;
}

/*notes */

.notes-container {
  text-align: center;
  margin: 20px 0;
  margin-top: 100px;
  background-color: #0089e4;
  padding: 20px;
}

.notes-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.notes-button {
  padding: 15px 25px;
  border-radius: 50px;
  background-color: black;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s;
  border: none;
}

.notes-button:hover {
  background-color: rgb(99, 121, 193);
}

/* testimony */

.testimony-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 200px;
  margin-bottom: -50px;
}


.testimony {
  height: 450px;
}

.testimony__container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}

.testimony__body {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}


.testimony__body--show {
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.testimony__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
  margin-right: 30px;
}

.testimony__texts {
  max-width: 700px;
}

.testimony__course {
  display: inline-block;
  background-color: #0089e4;

}

.testimony__arrow {
  width: 90%;
  cursor: pointer;
}

.clic-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 30px;
  font-size: 20px;
}

.clic-link:hover {
  background-color: #0056b3;
}


footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 78px;
  font-size: 15px;
  line-height: 1;
}

@media (max-width: 768px) {
  footer {
    margin-top: 450px;
  }
}


/* Media queries */

@media (max-width:800px) {

  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }


  .about__main {
    gap: 2em;
  }

  .about__icons:last-of-type {
    grid-column: 1/-1;
  }


  .knowledge__container {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 3em;
    text-align: center;
  }

  .knowledge__picture {
    grid-row: 1/2;
    justify-self: center;
  }

  .testimony__container {
    grid-template-columns: 30px 1fr 30px;
  }

  .testimony__body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 3em;
    justify-items: center;
  }


  .testimony__img {
    width: 200px;
    height: 200px;

  }

  .nav--footer {
    width: 100%;
    justify-items: center;
  }

  .nav__link--footer {
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
  }

}
